*{
    margin: 0px;
    padding: 0px;
    text-align: center;   
}
body{
    background-color: #EDF5E1;
}
.wrapper{
    margin-top: 80px !important;
    max-width: 1490px;
    box-sizing: border-box;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    /* background-color: burlywood; */
    background-color: #05386B;
}
.page{
    max-width: 1440px;
    margin: auto;
    /* background-color: bisque; */
    background-color: #5CDB95;
}
h1{
    padding-top: 20px;
    font-size: 60px;
    color: #05386B;
}

.main-content1{
    font-size: 45px;
    margin: 20px;
    border: 5px solid #05386B;
    border-radius: 10px;
    background-color: #8EE4AF;
    padding: 30px;
    margin-left: 15%;
    margin-right: 15%;
    color: #05386B;
}
.date-display{
    font-size: 25px;
    padding-bottom: 10px;
    
}
.alarm-actions1{
    margin-top: 40px;
}
.alarm-actions2{
    padding-bottom: 40px;
}
.alarm-p{
    margin-top: 20px;
    margin-bottom: 20px;
}
#alarm_input{
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #379683;
}
#alarm_set{
    padding: 25px;
    font-size: 30px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #379683;
}
#alarm_display{
    font-size: 25px;
}
#edit_alarm{
    padding: 20px 30px 20px 30px;
    font-size: 30px;
    border-radius: 20px;
    background-color: #05386B;
    color: white;
}
#dismiss_alarm{
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    background-color: #05386B;
    color: white;
}